[run]
source = xelpaste
branch = True
omit =
    xelpaste/migrations/*
    xelpaste/tests/*
    xelpaste/settings/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__

[html]
directory = /tmp/coverage_html_report
