# Temporary files
.*.swp
*.pyc
*.pyo

# Dev-related files
db.sqlite3
media/

# Build-related files
doc/_build/
.coverage
*.egg-info
node_modules/
xelpaste/assets/
xelpaste/static/
build/
dist/
htmlcov/
MANIFEST
