include README.rst LICENSE CHANGELOG
include crontab requirements.txt

graft xelpaste
graft libpaste
global-exclude *.py[cod] __pycache__
global-exclude .*.swp *.*~

prune dev
prune docs
prune frontend
prune node_modules
exclude .coveragerc 
exclude example_settings.ini Makefile manage.py package.json runtests.py
