include README.rst
include LICENSE
include CHANGELOG
include runtests.py
include tox.ini
recursive-include xelpaste/templates *
recursive-include xelpaste/static *
recursive-include docs *
recursive-exclude docs/_build *
