{% load i18n %}

<form method="post" action="" class="form-inline" {% if multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {{ snippet_form.non_field_errors }}
    <div class="form-options-title">{{ snippet_form.title }} Honeypot, don't fill.</div>

    {% if snippet_form.file %}
    <div class="
        form-group
        superenter
        {% if is_new %}autofocus{% endif %}
        {% if snippet_form.file.errors %}error{% endif %}
    ">
        {% for error in snippet_form.file.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ snippet_form.file }}
    </div>

    {% else %}
    <div class="
        form-group
        form-content
        superenter
        {% if is_new %}autofocus{% endif %}
        {% if snippet_form.content.errors %}has-error{% endif %}
    " style="margin-bottom: 1ex;">
        {% for error in snippet_form.content.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ snippet_form.content }}
    </div>
    {% endif %}

    {% if snippet_form.likely_spam %}
    <div class="form-options-spam form-group">
        <div class="checkbox">
            <label>
                {{ snippet_form.not_spam }}
                {% trans "Nope, that's not spam, I swear." %}
            </label>
        </div>
    </div>
    {% endif %}
    {% if not snippet_form.file %}
    <div class="form-group form-options-lexer
        {% if snippet_form.lexer.errors %}has-error{% endif %}">
            {{ snippet_form.lexer }}
        {% for error in snippet_form.lexer.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {% endif %}
    <div class="form-group form-options-author{% if snippet_form.author.errors %} has-error{% endif %}">
        <label for="author">{% trans "Author:" %}</label>
        {{ snippet_form.author }}
        {% for error in snippet_form.author.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group form-actions">
        <input tabindex="0" type="submit"class="btn btn-primary" value="{% trans "Paste it" %}">
        <span class="shortcut">&#8984;+&#9166; or Ctrl+&#9166;</span>
    </div>
    <div class="form-group form-options-expire{% if snippet_form.expires.errors %} has-error{% endif %}">
        {{ snippet_form.expires.errors }}
        <div class="input-prepend">
            <label for="expires"><span class="glyphicon glyphicon-trash"></span>{% trans "Expire in" %}</label>
            {{ snippet_form.expires }}
        </div>
    </div>
</form>
