{% extends "libpaste/base.html" %}

{% load i18n %}
{% load url from future %}
{% load libpaste_tags %}

{% block title %}Snippet History{% endblock %}
{% block headline %}Snippet History{% endblock %}
{% block page %}

    <hr>

    {% for snippet in snippet_list %}
    <h4 style="{% if not forloop.first %}margin-top: 50px;{% endif %}">
        <a title="{{ snippet.published|date:_("DATETIME_FORMAT") }}" href="{{ snippet.get_absolute_url }}">
            {% blocktrans with snippet.published|timesince as since %}{{ since }} ago{% endblocktrans %}
        </a>
    </h4>
    {% if snippet.file %}
        {% if snippet.is_image %}
            <img src="{% url 'snippet_details_raw' snippet.secret_id %}">
      {% else %}
            <a href="{% url 'snippet_details_raw' snippet.secret_id %}">{% trans "Download" %}</a>
      {% endif %}
    {% else %}
        {% include "libpaste/snippet_pre.html" %}
    {% endif %}
    {% empty %}
    <div>
        <p>{% trans "No snippets saved. Either all your snippets are expired or your cookie has changed." %}</p>
    </div>
    {% endfor %}

    <hr/>
    <div>
        <p><a href="?delete-all">Delete all your snippets.</a></p>
    </div>
{% endblock %}
